<link rel="stylesheet" type="text/css" href="/template/components/ucHeader/ucHeader.css">
<div class="UcHeader">
  <a class="UcHeader-logo" href="/"><img alt="卖好车商家后台" src="/template/components/ucHeader/uc_logo.png"></a>
  <ol class="UcHeader-nav js-UcHeader-nav">
    <li class="N"><a href="#">首页</a></li>
    <li class="N">
      <a href="#">设置</a>
      <ul class="UcHeader-subNav">
        <li class="subN"><a href="#">公司信息</a></li>
        <li class="subN"><a href="#">账号信息</a></li>
      </ul>
    </li>
  </ol>

  <div class="UcHeader-user">
    <img class="UcHeader-avatar" src="https://img.maihaoche.com/6FBCA998-9B41-4660-B813-2CA0EEED3DFB.jpg" alt="用户头像">
    <span class="UcHeader-nick">黄果果</span>
    <a class="UcHeader-logout" href="#"><i class="fa fa-power-off"></i></a>
  </div>
</div>
<script src="/template/components/ucHeader/ucHeader.js"></script>
