.UcHeader {
  background: #323232;
  height: 60px;
  font-size: 12px;
}

.UcHeader-logo {
  width: 135px;
  height: 20px;
  display: block;
  float: left;
  padding: 20px 0 20px 12px;
}

.UcHeader-logo img {
  width: 135px;
  height: 20px;
}

.UcHeader-nav {
  float: left;
  line-height: 60px;
  margin: 0;
  padding: 0 0 0 30px;
}

.UcHeader-nav .N {
  list-style: none;
  float: left;
  margin: 0 10px;
  position: relative;
  z-index: 1;
}

.UcHeader-nav .N a {
  color: #bcbcbc;
  text-decoration: none;
  padding: 0 5px;
}

.UcHeader-nav .N a:hover {
  color: #fff;
}

.UcHeader-nav .N.is-current a,
.UcHeader-nav .N.is-current a:hover {
  color: #fff;
}

.UcHeader-subNav {
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  display: none;
  position: absolute;
  left: -16px;
  top: 60px;
  padding: 0;
  white-space: nowrap;
  background: #4A4A4A;
  width: 70px;
  line-height: 30px;
  text-align: center;
}

.UcHeader-subNav .subN {
  list-style: none;
}

.UcHeader-user {
  float: right;
}

.UcHeader-user .UcHeader-avatar {
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
  border-radius: 18px;
  width: 35px;
  height: 35px;
  margin: 12px 10px 0 0;
  float: left;
}

.UcHeader-user .UcHeader-nick {
  float: left;
  line-height: 60px;
  color: #fff;
  margin: 0 10px 0 0;
}

.UcHeader-user .UcHeader-logout {
  color: #FF5D06;
  line-height: 59px;
  font-size: 14px;
  padding: 10px 10px 10px 5px;
  margin: 0 10px 0 0;
}
