/**
 * @require "template/components/reset/reset.scss"
 */
.Page-content {
  padding: 20px;
}

.Page-content > header {
  margin-bottom: 14px;
  padding-top: 14px;
  padding-left: 18px;
}

.Page-content > header h2 {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
}
